.App {
  text-align: center;
  background-color: var(--bg-colour);
  color: var(--text-colour);
  min-height: 100vh;
}

.App-header {
  background-color: var(--header-bg-colour);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--header-text-colour);
}

.live-value {
  color: white;
  font-size: calc(100px + 2vmin);
  padding: 5%;
}

.redback-logo {
  max-width: calc(200px + 1vmin);
  display: flex;
  align-self: center;
  padding-top: 5%;
}

.value-title {
  font-size: calc(25px + 2vmin);
}

body.light {
  --bg-colour: #ffffff;
  --text-colour: #000000;
  --header-bg-colour: #f0f0f0;
  --header-text-colour: #000000;
  --live-value-colour: #000000;
}

body.dark {
  --bg-colour: #000000;
  --text-colour: #ffffff;
  --header-bg-colour: #000000;
  --header-text-colour: #ffffff;
  --live-value-colour: #ffffff;
}
